body {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

main:after {
  content: "";
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0.05926120448179273) 50%,
    rgba(0, 0, 0, 1) 90%
  );
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-evenly;
}

.info .logo {
  max-width: 230px;
  margin-bottom: 10px;
}

.info .description {
  width: 60%;
  font-size: 20px;
  color: #ffffff;
  display: none;
  line-height: 40px;
  padding-left: 8px;
  animation: changeImg 0.7s;
}

.info .description.actv {
  display: block;
}

.info .description .maps {
  width: 450px;
  height: 310px;
}

.btn-carrossel {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-carrossel .btn {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  border-color: #ffffff;
}

.btn-carrossel .btn.selected {
  background-color: black;
}
.btn-carrossel .btn.selected:hover {
  transform: scale(1.2);
  transition: 1s;
  background-color: black;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.side-menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-menu .icon {
  width: 30px;
  filter: invert(1);
  transition: 0.3s ease-in-out;
}

.side-menu .icon:hover {
  transform: scale(1.2);
}

.carrossel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.carrossel .img {
  width: 100%;
  height: 110vh;
  object-fit: cover;
  display: none;
  animation: changeImg 0.7s;
}

.carrossel .img.active {
  display: block;
}

@keyframes changeImg {
  from {
    opacity: 0.85;
  }
  to {
    opacity: 1;
  }
}
